ul>li>a{
    text-decoration: none;
    color: black;
}
span>a{
    text-decoration: none;
    font-weight: bold;
}

    @media (max-width: 768px) {
      .ty1, .ty3{
        flex: 0 0 100%; /* Last column takes full width */
        max-width: 100%;
        padding: 50px;
        text-align: center;

      }
      .ty2{
        flex: 0 0 50%; /* Next two columns take half width each */
        max-width: 50%;
      }

}
